* {
  padding: 0;
  margin: 0;
}

:root {
  --font-family: "Poppins", sans-serif;
  --primary-color: 24, 93, 231;
  --primary-color-rgb: rgb(var(--primary-color));
  --primary-color--hover: rgb(24, 126, 237);
}

.notes-app {
  display: flex;
  width: 100%;
  height: 100vh;
  font-family: var(--font-family);
}

.main-content {
  padding: 1.5rem 1rem;
  width: 100%;
}

#title-input,
#content-input {
  width: 100%;
  border: none;
  outline: none;
  font-family: var(--font-family);
}

#title-input::placeholder,
#content-input::placeholder {
  color: grey;
}

#title-input {
  font-size: 3rem;
  font-weight: 700;
}

#content-input {
  font-size: 1.5rem;
  resize: none;
  height: 80vh;
}

.title-and-save {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.sidebar {
  border-right: 1px solid gray;
  padding: 1.5rem 1rem;
  width: 400px;
  overflow: auto;
}

.create-new,
.save-note,
.delete-note {
  color: white;
  background-color: var(--primary-color-rgb);
  border: none;
  padding: 1.5rem 0;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
  font-family: var(--font-family);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.create-new:hover,
.save-note:hover,
.delete-note:hover {
  background-color: var(--primary-color--hover);
}

.create-new {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.create-new .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.save-note,
.delete-note {
  width: unset;
  padding: 1rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.note-entry {
  border-radius: 5px;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

.note-entry:not(.selected-note) {
  cursor: pointer;
}

.note-entry:hover,
.selected-note {
  background-color: rgba(var(--primary-color), 0.1);
}

.note-title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.note-title,
.note-content-teaser {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.note-content-teaser {
  color: grey;
}

.note-date {
  width: 100%;
  text-align: right;
  font-style: italic;
  margin-top: 1rem;
  color: gray;
  font-size: 0.75rem;
}
